<% provide(:title, "Resend Confirmation Instructions") %>
<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
	<h3>Resend confirmation instructions</h3>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email", placeholder:"E-mail" ,
	    				   value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
	  </div>
	<% end %>
	<%= link_to "Back", :back %>

 </div>
 <div class="col-md-4">
 </div>
</div>

<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>