<% provide(:title, 'Welcome ' + current_user.name.capitalize) %>
<div class="row">
	<div class="col-sm-6">
	  <div class="center jumbotron">
	    <h1>Welcome!!</h1><br/>
	    <h2><%= current_user.name.upcase %></h2>
	  </div>
	</div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>