<% if user_signed_in? %>

  <% if current_user.has_role? :admin %>
      <%= render 'common_home' %>
  <% else %>
      <%= render 'common_home' %>
  <% end %>

<%else %>

<% provide(:title, "Home") %>

  <div class="center jumbotron">
    <h1>Welcome!!</h1>
    <h2> Register yourself to get started!! </h2>
      <br/>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      <br/>
      <small>
        Already have and account?
        <%= link_to 'Log in', new_user_session_path %>
      </small>
  </div>
  <hr>

<!-- Container (The Customer Section) -->
  <div id="customer" class="container text-center">
    <h3>Happy Customer</h3>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong>Erica</strong></p><br>
          <%= link_to image_tag("demo_person.png", class:"img-circle person", alt:"Random Name", width:"255",
                                                          height:"255") %>
        <div id="demo">
          <p>Manager</p>
          <p>40,000/- p.m</p>
          <p>XYZ company</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Shephard</strong></p><br>
          <%= link_to image_tag("demo_person.png", class:"img-circle person", alt:"Random Name", width:"255",
                                                    height:"255") %>
        <div id="demo2">
          <p>Content Writer</p>
          <p>20,000/- p.m</p>
          <p>ABC Corporation</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Owen</strong></p><br>
          <%= link_to image_tag("demo_person.png", class:"img-circle person", alt:"Random Name", width:"255",
                                                   height:"255") %>
        <div id="demo3">
          <p>Software Developer</p>
          <p>30,000/- p.m</p>
          <p>PQR Pvt.Ltd</p>
        </div>
      </div>
    </div>
  </div>
<% end -%>

  <script type="text/javascript">
    /* ControlSidebar()
    * ===============
    * Toggles the state of the control sidebar
    *
    * @Usage: $('#control-sidebar-trigger').controlSidebar(options)
    *         or add [data-toggle="control-sidebar"] to the trigger
    *         Pass any option as data-option="value"
    */
    +function ($) {
      'use strict';

      var DataKey = 'lte.controlsidebar';

      var Default = {
        slide: true
      };

      var Selector = {
        sidebar: '.control-sidebar',
        data   : '[data-toggle="control-sidebar"]',
        open   : '.control-sidebar-open',
        bg     : '.control-sidebar-bg',
        wrapper: '.wrapper',
        content: '.content-wrapper',
        boxed  : '.layout-boxed'
      };

      var ClassName = {
        open : 'control-sidebar-open',
        fixed: 'fixed'
      };

      var Event = {
        collapsed: 'collapsed.controlsidebar',
        expanded : 'expanded.controlsidebar'
      };

      // ControlSidebar Class Definition
      // ===============================
      var ControlSidebar = function (element, options) {
        this.element         = element;
        this.options         = options;
        this.hasBindedResize = false;

        this.init();
      };

      ControlSidebar.prototype.init = function () {
        // Add click listener if the element hasn't been
        // initialized using the data API
        if (!$(this.element).is(Selector.data)) {
          $(this).on('click', this.toggle);
        }

        this.fix();
        $(window).resize(function () {
          this.fix();
        }.bind(this));
      };

      ControlSidebar.prototype.toggle = function (event) {
        if (event) event.preventDefault();

        this.fix();

        if (!$(Selector.sidebar).is(Selector.open) && !$('body').is(Selector.open)) {
          this.expand();
        } else {
          this.collapse();
        }
      };

      ControlSidebar.prototype.expand = function () {
        if (!this.options.slide) {
          $('body').addClass(ClassName.open);
        } else {
          $(Selector.sidebar).addClass(ClassName.open);
        }

        $(this.element).trigger($.Event(Event.expanded));
      };

      ControlSidebar.prototype.collapse = function () {
        $('body, ' + Selector.sidebar).removeClass(ClassName.open);
        $(this.element).trigger($.Event(Event.collapsed));
      };

      ControlSidebar.prototype.fix = function () {
        if ($('body').is(Selector.boxed)) {
          this._fixForBoxed($(Selector.bg));
        }
      };

      // Private

      ControlSidebar.prototype._fixForBoxed = function (bg) {
        bg.css({
          position: 'absolute',
          height  : $(Selector.wrapper).height()
        });
      };

      // Plugin Definition
      // =================
      function Plugin(option) {
        return this.each(function () {
          var $this = $(this);
          var data  = $this.data(DataKey);

          if (!data) {
            var options = $.extend({}, Default, $this.data(), typeof option == 'object' && option);
            $this.data(DataKey, (data = new ControlSidebar($this, options)));
          }

          if (typeof option == 'string') data.toggle();
        });
      }

      var old = $.fn.controlSidebar;

      $.fn.controlSidebar             = Plugin;
      $.fn.controlSidebar.Constructor = ControlSidebar;

      // No Conflict Mode
      // ================
      $.fn.controlSidebar.noConflict = function () {
        $.fn.controlSidebar = old;
        return this;
      };

      // ControlSidebar Data API
      // =======================
      $(document).on('click', Selector.data, function (event) {
        if (event) event.preventDefault();
        Plugin.call($(this), 'toggle');
      });

    }(jQuery);
  </script>