<% provide(:title, "Log in") %>
<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">

    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder:"E-mail" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "current-password",
                                        placeholder:"Password" %>
      </div>
      <br/>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me</span>
          <% end %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary'%>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>

  <div class="col-md-4">
  </div>