<%= form_for(@job) do |f| %>

    <%= f.label :Post %>
    <%= f.text_field :post, autofocus: true,  class: 'form-control',autocomplete: "post", placeholder:"Post"%>

    <%= f.label :"Experience"  %>
    <%= f.text_field :experience, class: 'form-control', autocomplete: "experience", placeholder:"In Years"%>

    <%= f.label :"salary" %>
    <%= f.text_field :salary, class: 'form-control', autocomplete: "off", placeholder:"Per/Month" %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
<%= link_to "Back", :back %>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/>