<% if @job.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <% @job.errors.full_messages.each do |msg| %>
        <span><%= msg %></span><br/>
      <%end%>
    </div>
  </div>
<% end %>