<% provide(:title, 'Edit Job') %>
<% provide(:button_text, "Save Changes") %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <h3>Edit <%= @job.post.capitalize %></h3>
        <br/>
        <%= render 'common_form' %>
    </div>

    <div class="col-md-4">
    </div>

  </div>
</div>