<%#= current_user.jobs.inspect %>
<%#= current_user.applied_jobs.inspect %>
<div class="container">
<% if current_user.has_role? :admin %>
  <% provide(:title, 'My jobs') %>
    <h3>My Jobs</h3>
    <hr/>
      <table id="customers" >
      <tr>
          <th>Job Title</th>
          <th>Experience (in Years)</th>
          <th>Salary (per/month)</th>
          <th>Applied User</th>
          <th>Edit Job</th>
          <th>Delete Job</th>
        </tr>
          <% @jobs.each do |job| %>
            <tr>
              <!-- <td><%#= job.applied_job_users.inspect %></td> -->
              <td><%= job.post %></td>
              <td><%= job.experience %></td>
              <td><%= job.salary %></td>
              <td><%= link_to 'Applied User', applied_user_path(job) %></td>
              <td><%= link_to 'Edit', edit_job_path(job) %></td>
              <td><%= link_to 'Destroy',job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
           <% end %>
      </table>
      <hr/>
      <div id="paginate">
        <%= paginate @jobs %>
      <br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/>
      <br/>
      </div>
<% else %>
  <% provide(:title, 'All jobs') %>
    <h3> All Jobs </h3>
    <hr/>
    <table id="customers" >
      <tr>
          <th>Job Title</th>
          <th>Experience (in Years)</th>
          <th>Salary (per/month)</th>
          <th>Apply/Cancel</th>
        </tr>
          <%# user_applied_jobs = current_user.applied_jobs %>
          <% @jobs.each do |job| %>
            <%#= job.applied_users.inspect %>
            <tr>
              <td><%= job.post %></td>
              <td><%= job.experience %></td>
              <td><%= job.salary %></td>
              <% if current_user.check_if_applied(job) %>
                <td ><%= link_to 'Cancel',applied_user_path(job.id),remote: true,class: "btn btn-danger",
                                         id:"apply", method: :delete,
                                         data: { confirm: 'Are you sure?' } %></td>
              <%else %>
                <td><%= link_to 'Apply', new_applied_users_path(job_id: job.id),remote: true,
                                         class: "btn btn-success", id:"apply", method: :post,
                                         data: { disable_with: 'Please wait....' }  %></td>
              <% end %>
            </tr>
           <% end %>
      </table>
      <hr/>

      <div id="paginate">
        <%= paginate @jobs %>
      </div>
      <br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/>
      <br/>

<% end -%>
</div>
