<% provide(:title, 'Create Job') %>
<% provide(:button_text, "Create Jobs") %>


<div class="container">
  <div class="row">

    <div class="col-md-4">
        <%= render 'error_message' %>
    </div>

    <div class="col-md-4">
        <h3>Create Job</h3>
        <br/>
        <%= render 'common_form' %>
    </div>

    <div class="col-md-4">
    </div>

  </div>
</div>