 <div class="container">
  <% provide(:title, 'Applied user') %>
  <h3>My Jobs</h3>
  <hr/>
    <table id="customers" >
    <tr>
      <th>Job Title</th>
      <th>Experience</th>
      <th>Salary</th>
      <th>Applied Users</th>
    </tr>

    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.post %></td>
        <td><%= job.experience %></td>
        <td><%= job.salary %></td>
        <td><%= link_to 'Applied User', applied_user_path(job) %></td>
      </tr>
    <% end %>
</table>
  <hr/>
      <%= paginate @jobs %>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/>
</div>