<% provide(:title, "Resend Unlock Instructions") %>
<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
	<h3>Resend unlock instructions</h3>

	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Resend unlock instructions" %>
	  </div>
	<% end %>

	<%= render "users/shared/links" %>
  </div>
  <div class="col-md-4">
  </div>
</div>