<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name.capitalize %></h1>
    <p> <i><%=@current_user.name.capitalize %> </i> has applied for this job. <p>
    <p>
      <b>Job Title: <%= @job.post %> </b><br/>

      <b>Experience: <%= @job.experience %> years</b><br/>

      <b>Salary: <%= @job.salary %> per/month</b><br/>
    </p>
    <p> Candidate details are as follows: </p>
    <b> Name : <%= @current_user.name.capitalize %> </b><br/>
    <b> Email : <%= @current_user.email %> </b><br/>
  </body>
</html>
