<% provide(:title, "Change Password") %>
<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <h3>Change your password</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "new-password",
                                        placeholder:"New-Password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off",
                                                     placeholder:"Re-type New Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/>
  </div>

    <div class="col-md-4">
  </div>
</div>