<% provide(:title, "Forget Password") %>
<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">

	<h3>Forgot your password?</h3>
	<br/>
	<br/>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email", placeholder:"E-mail" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
	  </div>
	<% end %>
	<br/>
	<%= link_to "Back", :back %>
	    <br/><br/><br/><br/>
	    <br/><br/><br/><br/>
	    <br/><br/><br/><br/>
	    <br/><br/><br/><br/>
  </div>
  <div class="col-md-4">
  </div>
 </div>
