<div class="container">
  <% if current_user.has_role? :admin %>
  <% provide(:title, 'Applied Users') %>
    <h3>Applied User</h3>
    <hr/>
    <table id="customers" >

      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      	<% @job.applied_job_users.each do |user| %>
	      <tr>
	      	<!-- <td><%#= @job.applied_job_users.inspect %></td> -->
	      	<td><%= user.name.capitalize %> </td>
	      	<td><%= user.email %> </td>
	      </tr>
      <% end -%>
    </table>
    <hr/>
    <div id="paginate">
      <%= paginate @applied_user %>
    </div>
  <% end -%>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/>
</div>