  <!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
          <span><%= link_to "About Us",  '#' %></span> |
          <span><%= link_to "Help", '#' %></span> |
          <span><%= link_to "News", '#' %></span>
      </nav>
    </div>

    <!-- Default to the left -->
      <strong>
        We are here to help those who seek for help!
      </strong>
      <small>Copyright &copy; 2018 <a href="#">Company</a>.</small>
</footer>