
  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <%= link_to 'Logo', root_path, class: 'logo' %>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <%= link_to "HOME", root_path %>
          </li>

          <!-- Messages: style can be found in dropdown.less-->
          <!-- check the user is sign in or not -->
          <% if user_signed_in? %>
            <!-- check role of user -->
              <% if current_user.has_role? :admin %>

                <!-- Employer's Job Menu -->
                <li class="dropdown user user-menu">
                  <!-- Menu Toggle Button -->
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    JOBS
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Create Jobs', new_path %></li>
                    <li><%= link_to 'My Jobs', jobs_path %></li>
                    <li><%= link_to 'Applied User', view_path %></li>
                  </ul>
                <!-- Employer's Job Menu end -->
              <% else %>

                <!-- Employee's Job Menu -->
                <li class="dropdown user user-menu">
                  <!-- Menu Toggle Button -->
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    JOB
                  </a>
                  <ul class="dropdown-menu">
                  <li><%= link_to "All Jobs",jobs_path %></li>
                  <li><%= link_to "Applied jobs", '#' %></li>
                  </ul>
                <!-- Employee's Job Menu end -->
              <% end %>

              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.name.upcase %>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <%= link_to image_tag("demo_person.png", class:"img-circle", alt:"Random Name", width:"160",
                                          height:"160") %>
                  </li>

                  <!-- Menu Body -->
                    <p>
                    <center>
                      <%= current_user.name.capitalize! %> -
                      <% if current_user.has_role? :admin %>
                        Employer
                      <%else%>
                        Candidate
                      <% end -%>
                      <br/>
                      <small>Member since <%= time_tag(current_user.created_at.to_date) %></small>
                    </center>
                    </p>

                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <%= link_to 'Setting', edit_user_registration_path, class:"btn btn-default btn-flat" %>
                    </div>
                    <div class="pull-right">
                      <%= link_to 'Log out', destroy_user_session_path, class:"btn btn-default btn-flat",
                                             method: :delete %>
                    </div>
                  </li>
                </ul>
              </li>

          <% else %>
          <li class="dropdown user user-menu">
            <%= link_to "LOG IN", new_user_session_path %>
          <% end -%>
          </li>
        </ul>
      </div>
    </nav>
  </header>


<script type="text/javascript">

</script>
