  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    <% if user_signed_in? %>

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
        <br/>
        <br/>
          <%= link_to image_tag("demo_person.png", class:"img-circle", alt:"Random Name") %>
        </div>
        <div class="pull-center info">
          <center><%= current_user.name.upcase %></center>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active">
          <%= link_to 'HOME', root_path %>
        </li>
        <!-- Check the role of the user     -->
        <% if current_user.has_role? :admin %>
          <li><%= link_to 'Create Jobs', new_path %> </li>
          <li><%= link_to 'My Jobs', jobs_path %></li>
          <li><%= link_to 'Applied User', view_path %></li>
        <% else %>
          <li><%= link_to "All Jobs",jobs_path %></li>
          <li><%= link_to "Applied jobs", '#' %></li>
        <% end -%>
      </ul>
      <!-- /.sidebar-menu -->
    <% else %>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <li class="active">
          <%= link_to 'HOME', root_path %>
        </li>
        <li><%= link_to 'ABOUT US', '#' %> </li>
        <li><%= link_to 'CONTACT US', '#' %></li>
        <li><%= link_to 'HELP', '#' %></li>
      </ul>
      <% end -%>
    </section>
    <!-- /.sidebar -->
  </aside>
