<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim'%>
  </head>
<!--body start -->
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

  <!-- Header start -->
  <%= render 'layouts/header'%>
  <!-- Header End-->

  <!-- Sidebar Start -->
  <%= render 'layouts/sidebar'%>
  <!-- Sidebar Ends -->

  <!-- Content Start -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="container-fluid">
      <div id="error_explanation">
        <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
      </div>

      <%= yield %>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Content End -->

  <!-- Footer Start -->
  <%= render 'layouts/footer'%>
  <!-- Footer End -->

  </div>

</body>
</html>
