<% if @user.has_role? :admin %>

<h2>Welcome <%= @user.name.capitalize %>!</h2>

<p><b>You are just one step away to get <i>Suitable Candidates for your company. </i> </b> </p>.

<p>Click on a link below to activate you account:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<% else %>

<h2>Welcome <%= @user.name.capitalize %>!</h2>

<p><b>You are just one step away to get you <i>dream job.</i> </b> </p>

<p>Click on a link below to activate you account:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<% end %>
