<% if @user.has_role? :admin %>

<h2>Welcome <%= @user.name.capitalize %>!</h2>

<p>1111111111111111111111111</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<% else %>

<h2>Welcome <%= @user.name.capitalize %>!</h2>

<p>You are just one step away to get you dream job.

Click on a link below to activate you account:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<% end %>