<% provide(:title, "Setting") %>
<div class="row">
  <div class="col-md-2">
  </div>

  <div class="col-md-4">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control',  autofocus: true, autocomplete: "name", placeholder: "Name" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control',  autofocus: true, autocomplete: "email",
                                  placeholder: "E-mail" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control',
                              placeholder: "New password (minimum 6 letters)" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation,  class: 'form-control',  autocomplete: "new-password",
                              placeholder: "Re-type New-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control',  autocomplete: "current-password",
                              placeholder: "Current Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <br/><br/><br/><br/>
  </div>

  <div class="col-md-4">

    <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class: 'btn btn-danger' %></p>

    </div>

  </div>
