<% provide(:title, "Sign Up") %>
<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <h3>Sign up</h3>
    <br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control',  autofocus: true, autocomplete: "name", placeholder: "Name" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', autocomplete: "email", placeholder: "E-mail" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" , placeholder: "Password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" ,
                              placeholder: "Re-type Password"%>
      </div>
      <br/>
      <div class="field">
      <%= f.label :roles, class: "checkbox inline" do %>
      <%= f.check_box :roles %>
      <justify><span>As Employer</span></justify>
      <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" ,  class: 'btn btn-primary'%>
      </div>
    <% end %>
  <br/><br/><br/><br/>
  </div>
  <div class="col-md-4">
  </div>
